.article{
	width: 100%;
	height: auto;
}
.article > .picture-panel{
    height: 40vh;
    width: 25%;
    background-repeat: no-repeat;
    background: grey;
    position: absolute;
    transition-duration: 0.5s;
    border-bottom-right-radius: 100%;
    margin-right: 15%;
    background-size: cover;
    background-position: center;
}
.article > .picture-panel:hover{
    width: 40%;
    margin-right: 0;
    border-bottom-right-radius: 0;
}
.article > .price-panel{
	margin-top: 30vh;
	height: 10vh;
    width: 60%;
    right: 0;
    color: #44b63d;
    position: absolute;
    transition-duration: 0.5s;
    line-height: 10vh;
}
.article > .price-panel > .row > .price{
	font-size: 8vh;
    font-weight: bold;
}
.article > .description-panel{
	height: 30vh;
    width: 60%;
    right: 0;
    background: pink;
    position: absolute;
    transition-duration: 0.5s;
}
.article > .advice-panel{
	margin-top: 40vh;
	height: 20vh;
    width: 100%;
    background: red;
    position: absolute;
    transition-duration: 0.5s;
}







.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}