html, body{
	height: 100%;
}

html::-webkit-scrollbar{
	width: 0px;
}

#panel.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 11;
    overflow: hidden;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 53% 100%, 50% 95%, 47% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 53% 100%, 50% 95%, 47% 100%, 0 100%, 0 0);
}
#panel.slide::after{
    width: 50px;
    height: 50px;
    z-index: 900000;
    background-color: black;
    position: fixed;
    content: '';
    display: block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%)rotate(45deg);
}
#panel.slide > .background{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    opacity: .5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 53% 100%, 50% 95%, 47% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 53% 100%, 50% 95%, 47% 100%, 0 100%, 0 0);
}
#panel.slide > .content{
	position: absolute;
    z-index: 13;
    color: white;
    padding-bottom: 30px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    top: 50%;
    left: 70%;
    width: 400px;
    height: auto;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.block.home > .background{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: white;
    /*opacity: 0.75;*/
}
.block.home > .content{
    text-align: center;
    z-index: 13;
    position: relative;
    color: black;
}
.block.home > .content > .signin {
    font-size: 14px;
    padding-top: 10px;
}
.block.home > .content > .signin > span {
    color: #44b63d;
    font-weight: bold;
    /*text-decoration: underline;*/
}
.block.home > .content > .signin > span:hover {
    cursor: pointer;
}
.block.home > .content > img{
    width: 30%;
}
.block.home > .content > .title{
    font-size: 30px;
    margin-top: -10px;
}
.block.home > .content > .title > span{
    color: #57cb50;
}
.block.home > .content > #content-modal-sign-up > form > input{
    line-height: 50px;
    width: 75%;
    height: 50px;
    border-radius: 0px;
    border: 1px solid rgb(199, 199, 199);
    background: #f1f1f1;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.block.home > .content > #content-modal-sign-up > form > input:focus{
    outline: none;
    background: white;
}
.block.home > .content > #content-modal-sign-up > form > button{
    line-height: 50px;
    width: 75%;
    height: 50px;
    border-radius: 0px;
    border: 1px solid rgb(199, 199, 199);
    background: #57cb50;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 19px;
}
.block.home > .content > #content-modal-sign-up > form > button > i{
    font-size: 25px;
}
.block.home > .content > #content-modal-sign-up > form > button:focus{
    outline: none;
}
.block.home > .content > #content-modal-sign-up > form > button:hover{
    cursor: pointer;
}
.block.home > .content > #content-modal-sign-up > form > button:active{
    background: #44b63d;
}

#panel.screenSpace{
	height: 200%;
}
#panel.fixed{
	position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 1
}
#panel.fixed > .content{
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    position: relative;
}

.panel-info{
    margin-top: 20vh;
    position: fixed;
    margin-left: 32vh;
}
.panel-info > .title{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 6vh;
    background-color: #57cb50;
    padding: 0 10px 0 10px;
}
.panel-info > .content-box{
    border-top: solid 3px #57cb50;
    width: 80%;
    height: 60vh;
    position: fixed;
    padding-bottom: 30px;
    overflow-x: auto;
    display: flex;
    overflow-y: auto;
}
/*.panel-info > .content-box::-webkit-scrollbar
{
    width: 2px;
    height: 2px;
}
.panel-info > .content-box::-webkit-scrollbar-thumb
{
    background-color: #57cb50;
}*/
.panel-info > .content-box > .item
{
    width: 200px;
    padding-right: 10px;
}
.panel-info > .content-box > .item > .header
{
    color: black;
    text-align: center;
    background: black;
    color: white;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 0;
    font-family: 'Quicksand', sans-serif;
}