html, body{
	height: 100%;
}

html::-webkit-scrollbar{
	width: 0px;
}

#panel.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 11;
    overflow: hidden;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 53% 100%, 50% 95%, 47% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 53% 100%, 50% 95%, 47% 100%, 0 100%, 0 0);
}
#panel.slide::after{
    width: 50px;
    height: 50px;
    z-index: 900000;
    background-color: black;
    position: fixed;
    content: '';
    display: block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%)rotate(45deg);
}
#panel.slide > .background{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    opacity: .5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 53% 100%, 50% 95%, 47% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 53% 100%, 50% 95%, 47% 100%, 0 100%, 0 0);
}
#panel.slide > .content{
	position: absolute;
    z-index: 13;
    color: white;
    padding-bottom: 30px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    top: 50%;
    left: 70%;
    width: 400px;
    height: auto;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.block.home > .background{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: white;
    /*opacity: 0.75;*/
}
.block.home > .content{
    text-align: center;
    z-index: 13;
    position: relative;
    color: black;
}
.block.home > .content > .signin {
    font-size: 14px;
    padding-top: 10px;
}
.block.home > .content > .signin > span {
    color: #44b63d;
    font-weight: bold;
    /*text-decoration: underline;*/
}
.block.home > .content > .signin > span:hover {
    cursor: pointer;
}
.block.home > .content > img{
    width: 30%;
}
.block.home > .content > .title{
    font-size: 30px;
    margin-top: -10px;
}
.block.home > .content > .title > span{
    color: #57cb50;
}
.block.home > .content > #content-modal-sign-up > form > input{
    line-height: 50px;
    width: 75%;
    height: 50px;
    border-radius: 0px;
    border: 1px solid rgb(199, 199, 199);
    background: #f1f1f1;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.block.home > .content > #content-modal-sign-up > form > input:focus{
    outline: none;
    background: white;
}
.block.home > .content > #content-modal-sign-up > form > button{
    line-height: 50px;
    width: 75%;
    height: 50px;
    border-radius: 0px;
    border: 1px solid rgb(199, 199, 199);
    background: #57cb50;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 19px;
}
.block.home > .content > #content-modal-sign-up > form > button > i{
    font-size: 25px;
}
.block.home > .content > #content-modal-sign-up > form > button:focus{
    outline: none;
}
.block.home > .content > #content-modal-sign-up > form > button:hover{
    cursor: pointer;
}
.block.home > .content > #content-modal-sign-up > form > button:active{
    background: #44b63d;
}

#panel.screenSpace{
	height: 200%;
}
#panel.fixed{
	position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 1
}
#panel.fixed > .content{
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    position: relative;
}

/* category */
.panel-category{
    height: 100%;
    overflow-y: scroll;
    width: 24vh;
    position: fixed;
    padding-top: 16vh;
    padding-bottom: 30px;
}
.panel-category::-webkit-scrollbar
{
    width: 2px;
}
.panel-category::-webkit-scrollbar-thumb
{
    background-color: #57cb50;
}

.category{
    height: 20vh;
    background-color: #f1f1f1;
    width: 20vh;
    margin-top: 30px;
    line-height: 20vh;
    text-align: center;
    color: white;
    font-size: 2vh;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    font-family: 'Quicksand', sans-serif;
}
.category.one{
    background-color: rgb(170, 229, 167) !important;
}
.category.two{
    background-color: rgb(127, 127, 127) !important;
}
.category.one:hover{
    cursor: pointer;
    background-color: #57cb50 !important;
    transform: rotate(0deg);
    /*z-index: 10;*/
}
.category.two:hover{
    cursor: pointer;
    background-color: black !important;
    transform: rotate(0deg);
    /*z-index: 10;*/
}