header > .menu.left{
	z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to right, white 50%, rgba(0, 128, 0, 0));
    display: none;
}
header > .menu.left > .content{
	line-height: 60px;
    position: relative;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
}
header > .menu.left > .content > ul{
	 list-style-type: none;
}
header > .menu.left > .content > ul > li:hover{
	cursor: pointer;
}
header > .menu.left > .content > ul > li.selected{
    font-weight: bold;
}
header > .menu.left > .content > ul > li.selected:after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 16%;
    left: 0px;
}
@media (max-width: 767px) {
	header > .menu.left{
		z-index: 1000;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-image: linear-gradient(to right, white 50%, rgba(0, 128, 0, 0));
	}
}


header > .menu.fixed{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 14vh;
    line-height: 12vh;
    padding: 16px;
    /*background-color: white;*/
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.menu.fixed > img{
    height: 12vh;
    float: left;
}
.menu.fixed > .title{
    font-size: 4vh;
    margin-left: 3vh;
    float: left;
}
.menu.fixed > .title > span{
    color: #57cb50;
}
.menu.fixed > .name{
    font-size: 4vh;
    float: right;
    margin-right: 3vh;
    color: #57cb50;
}
.menu.fixed > .profil{
    height: 8vh;
    width: 8vh;
    border: 1px solid #57cb50;
    transform: rotate(45deg);
    float: right;
    right: 80px;
    overflow: hidden;
    margin: 14px;
}
.menu.fixed > .profil:before
{
    content: "";
    position: absolute;
    width: 155%;
    height: 153%;
    top: -34%;
    left: -27%;
    z-index: -1;
    background: url(../../media/profil/profil.jpg) 0 0 repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.logo.white{
	color: white;
	font-size: 30px;
	font-family: Quicksand;
	line-height: 10vh;
	margin: auto 15px;
}
.logo.black{
	color: black;
	font-size: 30px;
	font-family: Quicksand;
	line-height: 10vh;
	margin: auto 15px;
}

.burger.top.left{
	width: 41px;
    z-index: 15;
    position: absolute;
    top: 15px;
    left: 20px;
    background: white;
    padding: 2px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50%;
}
.burger.top.left:hover{
	cursor: pointer;
}
.burger.top.left > .line{
	background: black;
    width: 100%;
    height: 1px;
    margin: 8px auto;
}
.burger.top.left > .line.two{
	width: 75%;
}

.burgerclose.top.left{
	width: 35px;
	height: 35px;
    z-index: 15;
    position: absolute;
    top: 20px;
    left: 20px;
}
.burgerclose.top.left:hover{
	cursor: pointer;
}
.burgerclose.top.left > .line{
	background: black;
    margin-top: 15px;
    width: 100%;
    height: 1px;
}
.burgerclose.top.left > .line.one{
	transform: rotate(45deg);
}
.burgerclose.top.left > .line.two{
	transform: rotate(-45deg);
    margin-top: -1px;
}
